your-domain.example {
    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    reverse_proxy /ssh 127.0.0.1:3001
    reverse_proxy /ssh/* 127.0.0.1:3001

    # Optional AList
    reverse_proxy /files-proxy 127.0.0.1:5244
    reverse_proxy /files-proxy/* 127.0.0.1:5244

    # Optional Emby
    reverse_proxy /emby 127.0.0.1:8096
    reverse_proxy /emby/* 127.0.0.1:8096
    reverse_proxy /web/* 127.0.0.1:8096
    reverse_proxy /Startup/* 127.0.0.1:8096

    reverse_proxy 127.0.0.1:3000
}
